{% load static %}

<!DOCTYPE html>
<html lang="ja">
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">
<link rel="stylesheet" href="{% static 'style.css' %}"> 
<script src="{% static 'script.js' %}"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Carpet</title>
</head>

<body onload="initiateWeatherUpdate()">

    <header>
        <h1>Magic Carpet</h1>
        <a id="weather"> It's currentlys~</a>
    </header>

    <main class="main-content">
        <div>
        </div>
    </main>

    <footer class="solid-color-footer">
        <a id="footertext">Powered by Rakuten, WeatherTech, & OpenAi!  Made by Peter Murray</a>
    </footer>

</body>

</html>
